.logo {
  width: 200px;
  height: 200px;
  margin-top: 2%;
}
.lcolor {
  color: #d91b5b;
}
.btns {
  margin-top: 1%;
}
#note {
  border: 2px dotted black;
  padding-bottom: 7px;
  width: 60%;
  margin-bottom: 1%;
}
#note:hover {
  border: 2px dashed #d91b5b;
}

.header {
  font-family: Francois One;
}
.list-group-item {
  font-family: Noticia Text;
}
.popup-box {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7edda4;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}
